<div class="col-lg-12">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <h4>全部笔记<small><span class="badge badge-secondary"><%= @notes.count %></span></small></h4>
        </div>
        
        <div class="col-lg-3" style="float: right;">

            <%= link_to  new_user_clipping_path(current_user.id), :class => 'btn-link', :style => 'float:left' do %>
                <i class="fa fa-2x fa-cloud-upload" aria-hidden="true">&nbsp;&nbsp;</i>
            <% end %>
            
            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;多选</button>&nbsp;

            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>&nbsp;排序</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12" style="clear: both; margin-top: 10px;">
        <% @notes.each do |note| %>
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <div class="item-thumb  bg-" style="background-image:url('<%= note.cover_url %>');">
                    </div>
                    <%= link_to user_note_path(current_user.id, note.id) do %> 
                        <div class="item-desc">
                            <p><%= note.summary %></p>
                        </div>
                    <% end %>
                    <div class="item-slant reverse-slant  bg-"></div>
                    <div class="item-slant"></div>
                    <div class="item-label">
                        <div class="item-title">
                            <%= link_to user_note_path(current_user.id, note.id), :title => note.title do %> 
                                <%= note.title %>
                            <% end %>
                        </div>
                        <div class="item-meta clearfix">
                            <div class="item-meta-ico bg-ico-book" style="no-repeat;background-size: 40px auto;">
                            </div>
                            <div class="item-meta-cat">
                                <a href="/tags#nginx" title="访问 nginx" data-hover="nginx">nginx</a>
                                <a href="/archives#2017" title="访问 2017" data-hover="2017-07-19 19:02">2017-07-19 19:02</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="col-lg-12 digg_pagination" style="display: block;width: 30rem; float:right; margin-top: 20px;">
    <%= will_paginate @notes, :container => false %>
</div>

