<div class="col-lg-12">
    <h4>全部笔记<small><span class="badge badge-secondary"><%= @notes.count %></span></small></h4>
<% @notes.each do |note| %>
    <div class="card col-lg-3" style="display: block;width: 30rem; float: left">
        <img class="card-img-top rounded mx-auto d-block" src="<%= note.cover_url %>" alt="Card image cap" style="width: 115px; height: 170px;">
        <div class="card-block">
            
            <p style="width: 250px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                <%= link_to note.title, user_note_path(current_user.id, note.id), title:note.title %>    
            </p>
        </div>
        <div class="card-block">

                
                 
            <a href="#" class="card-link">Another link</a>
            <span class="dropdown" style="float: right">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Export 
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= button_to  evernote_store_path(note.id),  method: :post, title:note.title,:class => 'btn-link dropdown-item' do %>
                            <%= image_tag "evernote_logo.png", :style =>"width: 24px; height: 24px;" %> Evernote
                        <% end %>

                        <div class="dropdown-divider"></div>
                        <%= button_to  user_note_markdown_path(current_user.id, note.id),  method: :get, title:note.title,:class => 'btn-link dropdown-item' do %>
                            <%= image_tag "markdown_logo.png", :style =>"width: 24px; height: 24px;" %> Markdown
                        <% end %>
                    </div>
            </span>
        </div>
    </div>
<% end %>
</div>
    <div class="col-lg-12 digg_pagination" style="display: block;width: 30rem; float:right; margin-top: 20px;">
        <%= will_paginate @notes, :container => false %>
    </div>

