<nav class="navbar navbar-light bg-white" style="height: 60px;">
  <a class="navbar-brand" href="#" style="margin-left: 30px;">
    <%= image_tag "logo.png", :width => "35", :height => "35", :class => "d-inline-block align-top" %>
    KindleNote
  </a>
  <ul class="nav nav-pills pull-right">
    <li class="nav-item" style="margin-right: 10px;">
      <button class="btn btn-secondary" title="<%= t('action.incognito') %>"><i class="fa fa-smile-o fa-1x" aria-hidden="true"></i></button>
    </li>
    <li class="nav-item">
      <button class="btn btn-secondary" title="<%= t('action.notification') %>"><i class="fa fa-bell fa-1x" aria-hidden="true"></i></button>
    </li>
    <% if logged_in? %>
      <li class="nav-item">
        <div class="btn-group">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle fa-2x"></i></a>
        
          <div class="dropdown-menu">
            <span class="dropdown-item disabled" disabled style="color:#3089DF;"><%= current_user.name %></span>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>

            <div class="dropdown-divider"></div>
            <%= button_to "Sign out", logout_path, method: :delete, :class => 'btn-link dropdown-item' %>
          </div>
        </div>
      </li>
  <% else %>
    <li class="nav-item">
      <%= link_to t('action.register'), register_path, :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to t('action.login'), login_path, :class => 'nav-link active' %>
    </li>
  <% end %>
  </ul>
</nav>