<div class="container">
    <div class="text-center" style="margin-bottom: 100px;">
        <div id="logo" style="margin-top: 50px;">
            <%= image_tag("logo.png") %>
        </div>
        <div id="title">
            <h1 class="display-3"><%= t('app.name') %></h1>
        </div>
        <div>
            <h5><%= t('app.introduce') %></h5>
        </div>
        <div id="social" style="color: #1b95e0">
            <a class="btn btn-secondary btn-sm" href="https://github.com/badtudou" target="_blank"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>&nbsp;<%= t('about.like') =%></a>
            <a class="btn btn-secondary btn-sm" href="http://weibo.com/badtudou" target="_blank"><i class="fa fa-coffee fa-2x" aria-hidden="true"></i>&nbsp;<%= t('about.donate') =%></a>
            <a class="btn btn-secondary btn-sm" href="http://weibo.com/badtudou" target="_blank"><i class="fa fa-commenting fa-2x" aria-hidden="true"></i>&nbsp;<%= t('about.contact') =%></a>
        </div>
    </div>
</div>
