<!DOCTYPE html>
<html>
  <head>
    <title>KindleNote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <%= render "shared/header" %>
    </header>
    <%= yield %>
    <footer>
        <%= render "shared/footer" %>
    </footer>
  </body>
</html>
