<!DOCTYPE html>
<html>
  <head>
    <title>KindleNote</title>
    <%= csrf_meta_tags %>    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--Font-awesome -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <!-- Element ui -->
    <link href="https://cdn.bootcss.com/element-ui/1.4.3/theme-default/index.css" rel="stylesheet">
   
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <!-- JQuery -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Popper -->
    <script src="https://cdn.bootcss.com/popper.js/1.11.1/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    
    
    
  </head>

  <body>
    <header>
        <%= render "shared/header" %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
            </div>
            
            <%= yield %>
        </div>
    </div>
    <footer>
        <%= render "shared/footer" %>
    </footer>
  </body>
</html>
